* {
  margin: 0 auto;
  background-color: pink;
}
.cutedog {
  width: 600px;
  height: 500px;
  border-radius: 10px;
}
.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app_text {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 600;
}
select {
  width: 300px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dogname {
  text-align: center;
  width: 600px;
  height: 50px;
  border: none;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  border-radius: 10px;
}
.loginbtn {
  width: 100px;
  margin-top: 50px;
  margin-left: 1000px;
}
